<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/css/mdb.min.css" rel="stylesheet">
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/js/mdb.min.js"></script>
</head>
<body>
<!-- Material form register -->
<div class="container">
    <div class="container">
        <div class="card">

            <h5 class="card-header info-color white-text text-center py-4">
                <strong>Enter Employee Details</strong>
            </h5>

            <!--Card content-->
            <div class="card-body px-lg-5 pt-0">

                <!-- Form -->
                <form class="text-center" style="color: #757575;" action="/attendance" method="post">

                    <div class="form-row">
                        <div class="col">
                            <!-- First name -->
                            <div class="md-form">
                                <input type="text"  name="Fname" id="materialRegisterFormFirstName" class="form-control">
                                <label for="materialRegisterFormFirstName">First name</label>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Last name -->
                            <div class="md-form">
                                <input type="text" name="Lname" id="materialRegisterFormLastName" class="form-control">
                                <label for="materialRegisterFormLastName">Last name</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <!-- Gender -->
                            <div class="md-form">
                                <input type="text" name="Gender" id="materialRegisterFormGender" class="form-control">
                                <label for="materialRegisterFormGender">Gender</label>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Phone no -->
                            <div class="md-form">
                                <input type="number" name="Phone" id="materialRegisterFormPhone" class="form-control">
                                <label for="materialRegisterFormPhone">Phone No</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <!-- Role -->
                            <div class="md-form">
                                <input type="text" name="Role" id="materialRegisterFormRole" class="form-control">
                                <label for="materialRegisterFormRole">Role</label>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Employment Type -->
                            <div class="md-form">
                                <input type="text" name="EmploymentType" id="materialRegisterFormEmploymentType" class="form-control">
                                <label for="materialRegisterFormEmploymentType">Employment Type</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <!-- Current Project -->
                            <div class="md-form">
                                <input type="text" name="CurrProject"  id="materialRegisterFormCurrProject" class="form-control">
                                <label for="materialRegisterFormCurrProject">Current Project</label>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Attendance Checkbox -->
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio1" name="customRadio1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio1">Present</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio2" name="customRadio2" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio2">Absent</label>
                            </div>

                        </div>
                        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Submit Details</button>
                    </div>

                </form>
                <!-- Form -->

            </div>

        </div>
        <!-- Material form register -->
    </div>
</div>
</body>
</html>




